# Commonly ignored Node.js files
node_modules
npm-debug.log
.npm

# Next.js Build Output
.next
build
dist
out

# Dependency lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment variables
.env
.env.local
.env.development
.env.production

# Testing and coverage
coverage

# Storybook (if applicable)
storybook-static
build-storybook.log

# Temporary/Cache files
.swc 